:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --blackcolor: black;
  --whitecolor: white;
  --slatecolor: #434455;
  --oceancolor: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --graysish: #757575;
  --darkcolor: #212121;
  --lightslate: #8e8f99;
  --green: #00d4c6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--whitecolor);
  color: var(--graysish);
  font-size: 16px;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.no-top-padding {
  padding-top: 0px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu,
.navigation,
.nav-menu,
.contacts-menu {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}

.logo-link {
  text-decoration: none;
  font-size: 0;
}

.logo-link.footer {
  margin-bottom: 20px;
}

.logo-link > span {
  font-size: 18px;
}

.logo,
.studio {
  color: var(--iriscolor);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.2;
  display: inline-block;
}

.studio {
  color: var(--navyblue);
}

.nav-menu .page,
.contacts-menu .contact {
  color: var(--navyblue);
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu {
  margin-left: 93px;
}

.contacts-menu {
  margin-left: 298px;
}

.nav-menu .item:not(:last-child),
.contacts-menu .item:not(:last-child) {
  margin-right: 50px;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--iriscolor);
}

.nav-menu .item {
  font-size: 16px;
}

.contacts-menu .contact {
  color: var(--navyblue);
  font-weight: 400;
}

.current {
  position: relative;
  color: var(--iriscolor);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--oceancolor);
}

.page {
  position: relative;
  color: var(--iriscolor);
}

.page:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--oceancolor);
}

.hero {
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/bg-hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin: 0 auto;
}

.hero-title {
  color: var(--whitecolor);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.button {
  cursor: pointer;
  border-color: transparent;
  font-family: inherit;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

.button.filter {
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  color: var(--iriscolor);
  background-color: var(--cloud);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus,
.button.filter.current {
  background-color: var(--oceancolor);
  color: var(--whitecolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba (0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.primary {
  color: var(--whitecolor);
  background-color: var(--iriscolor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits {
  display: flex;
  position: relative;
}

.benefits .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;

  width: 264px;
  height: 112px;
  border-radius: 4px;
  color: var(--navyblue);
  background-color: var(--cloud);
}

.antenna {
  margin-top: 45px;
  margin-left: 55px;
  width: 112px;
  height: 112px;
}

.benefits .icon {
  fill: currentColor;
}

.benefits .title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
}

.benefits .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.benefits .description {
  line-height: 1.71;
  font-size: 16px;
  font-weight: 400;
  color: var(--slatecolor);
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.bg-team {
  background-color: var(--cloud);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 50px;
}

.what-we-do {
  margin-right: -30px;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
}

.what-we-do .item {
  flex-basis: calc(100% / 3 -30px);
  margin-left: 30px;
  margin-top: 30px;
}

.team .name,
.team .position {
  line-height: 1.19;
  text-align: center;
}

.team .name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team .position {
  font-size: 16px;
  color: var(--slatecolor);
  font-weight: 400;
  line-height: 1.19;
}

.team {
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team .item {
  padding-bottom: 30px;
  background-color: var(--whitecolor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.substrate {
  background-color: var(--whitecolor);
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.social-team {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 10px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.social-team .link {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--whitecolor);
  background-color: var(--iriscolor);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team .link:hover,
.social-team .link:focus {
  background-color: var(--green);
}

.social-team .icon {
  fill: currentcolor;
}

.partners {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.partners .link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 168px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  color: var(--lightslate);
  background-color: var(--whitecolor);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners .link {
  fill: currentColor;
}

.partners .link:hover,
.partners .link:focus {
  color: var(--oceancolor);
  border-color: var(--oceancolor);
}

.studio-2 {
  color: var(--whitecolor);
}

.page-footer {
  background-color: var(--navyblue);

  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  margin: 0 auto;
}

.footer-description {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding-top: 17px;
}

.footer.page-footer {
  display: flex;
}

.footer-wrap {
  display: flex;
  flex-direction: row;
  gap: 120px;
  flex-grow: 1;
}

.footer-social {
  color: var(--cloud);
  margin-bottom: 18px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: -12px;
  margin-left: -50px;
  align-items: baseline;
}

.footer-address {
  margin-top: 12px;
  margin-right: 25px;
}

.footer-block {
  margin-top: 12px;
  margin-left: 123px;
}

.social-footer .icon-item {
  padding-top: 16px;
}

.footer-heading {
  color: var(--cloud);
  font-family: "Roboto";
  font-weight: 500;
}

.social-footer {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.social-footer .link {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--whitecolor);
  background-color: var(--iriscolor);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer .link:hover,
.social-footer .link:focus {
  background-color: var(--green);
}

.social-footer .icon {
  fill: currentColor;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--oceancolor);
  color: var(--whitecolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters .space + .space {
  margin-left: 8px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project .name {
  color: var(--navyblue);
  font-weight: 500;
  font-size: 20px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
}

.project .type {
  color: var(--slatecolor);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
}

.project-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:hover,
.project-card:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project .description {
  position: relative;
  overflow: hidden;
}

.overlay .text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.32px;
  font-family: "Roboto";
  font-style: normal;
  color: var(--cloud);
  background-color: var(--iriscolor);
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

.project-card:hover .text {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  height: 584px;
  border-radius: 4px;
  background-color: var(--whitecolor);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  background-color: var(--cornflower);
  color: var(--blackcolor);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;

  transition: color 251ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 251ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--oceancolor);
  color: var(--whitecolor);
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}
.footer-information {
  padding-top: 16px;
}

.footer-subscription {
  margin-top: 12px;
  margin-left: 80px;
}

.footer-email-input {
  padding: 8px 16px;
  background-color: var(--navyblue);
  font-size: 12px;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  margin-right: 24px;
  color: var(--whitecolor);
  border: 1px solid var(--whitecolor);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
}

.footer-email-input::placeholder {
  color: var(--whitecolor);
  font-family: "Roboto";
}

.button-icon {
  fill: currentColor;
}

.button.button-subscribe {
  display: inline-flex;
  align-items: center;
  text-align: center;
  color: var(--whitecolor);
  background-color: var(--iriscolor);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  gap: 16px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.button-subscribe:hover,
.button.button-subscribe:focus {
  background-color: var(--oceancolor);
  color: var(--whitecolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba (0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--navyblue);
  margin-bottom: 30px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.form-label {
  display: block;
  position: relative;
}

.form-name {
  position: absolute;
  top: -16px;
  font-size: 12px;
  line-height: 0.87;
  letter-spacing: 0.01em;
}

.form-input,
.form-textarea {
  display: block;
  font-size: 12px;
  width: 100%;
  margin-bottom: 29px;
  padding: 11px 16px 11px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  line-height: 0.87;
  letter-spacing: 0.01em;
  color: var(--blackcolor);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  padding-left: 16px;
  resize: none;
}

.form-input:hover,
.form-textarea:hover,
.form-input:focus,
.form-textarea:focus {
  outline: none;
  border-color: var(--iriscolor);
}

.form-textarea::placeholder {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--blackcolor);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--iriscolor);
}

.form-agreement {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 24px;
  color: var(--lightslate);
}

.form-checkbox-icon {
  fill: none;
  border: 2px solid var(--graysish);
  border-radius: 2px;
  margin-right: 7px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-checkbox-icon {
  background-color: var(--iriscolor);
  border-color: var(--iriscolor);
  fill: var(--whitecolor);
}

.form-terms {
  color: var(--iriscolor);
}

.button-send {
  width: 169px;
  height: 56px;
  font-weight: 500;
  display: block;
  margin: auto;
  padding: 16px 32px;
  gap: 10px;

  color: var(--whitecolor);
  background-color: var(--iriscolor);
  border: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus {
  background-color: var(--oceancolor);
}
